@import "tailwindcss";
@tailwind utilities;

:root {
  --font-roboto-mono: "Roboto Mono", monospace;
  --font-martian-mono: "Martian Mono", monospace;
}

body {
  font-family: var(--font-martian-mono);
}

